* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f172a;
  color: #e5e7eb;
}

.root{
  display: flex;
  align-items: center;
  height: 100vh;
}

main {
  max-width: 500px;
  margin: 30px auto;
}

main .header-title {
  color: #38bdf8;
  text-align: center;
}

.todo-container{
  margin-top: 50px;
}

form{
  display: flex;
  gap: 20px;
}

input {
  width: 100%;
  background-color: #1e293b;
  border: #334155;
  color: #e5e7eb;
  height: 48px;
  padding: 0 12px;
  border-radius: 6px;
  font-size: 18px;
}

input::placeholder {
  color: #94a3b8;
  font-size: 14px;
}

input:focus {
  border-color: #38bdf8;
  box-shadow: 0 0 0 2px rgba(56, 189, 248, 0.3);
}

button {
  background-color: #38BDF8;
  color: #0F172A;
  height: 48px;
  padding: 0 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #0EA5E9;
}

button:active {
  background-color: #0284C7;
}

.task-container{
  margin-top: 40px;
}

.todo-task {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  border-radius: 8px;
  margin-bottom: 18px; 
  transition: background-color 0.2s;
  gap: 20px;
}

.todo-task p{
  background-color: #1E293B;
  width: 100%;
  padding: 10px 16px;
  border-radius: 6px;
  height: 48px;
}
